{% extends 'base.html.twig' %}
{% block title %}À propos | EduTest{% endblock %}
{% block body %}
<div class="container py-5">
    <h1>À propos d’EduTest</h1>
    <p>EduTest est une plateforme développée pour simplifier la gestion et la passation des examens en ligne.</p>
    <p>Elle permet aux enseignants de créer des examens, aux étudiants de les passer, et aux deux parties de consulter les résultats facilement.</p>
</div>
{% endblock %}
