{% extends 'base.html.twig' %}
{% block title %}Contact | EduTest{% endblock %}
{% block body %}
<div class="container py-5">
    <h1>Contact</h1>
    <p>Pour toute question, vous pouvez nous contacter à <a href="mailto:support@edutest.local">support@edutest.local</a>.</p>
</div>
{% endblock %}
