{% extends 'base.html.twig' %}

{% block title %}Edit Assignment{% endblock %}

{% block body %}
    <h1>Edit Assignment</h1>

    {{ include('assignment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_assignment_index') }}">back to list</a>

    {{ include('assignment/_delete_form.html.twig') }}
{% endblock %}
